---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About this Experiment</title>
	</head>
	<body>
		<h1>About this Experiment</h1>
		<p>I'm not a negative thinker, but I am a realist. It's only a matter of time before I forget a freakin' semi colon somewhere in html and break something.</p>
	</body>
</html>
